* {
  box-sizing: border-box;
}

.page {
  background-color: #181818;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
  font: inherit;
  font-style: normal;
}

button {
  color: inherit;
  background-color: transparent;
  border: none;
  font: inherit;
}

ul, ol, dd {
  margin: 0;
}