.facts {
  padding: clamp(2.25rem, 1.7218rem + 2.2535vw, 3.75rem) clamp(1.4375rem, 0.1831rem + 5.3521vw, 5rem);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  background: 
    url('../../images/section-bg-line.svg'),
    linear-gradient(-90deg, #202020, #080808);
  max-width: clamp(21.0625rem, -0.0423rem + 90.0469vw, 81rem);
  border-radius: 15px;
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  top: -111px;
}

.facts-title {
  font-size: clamp(2.625rem, 2.4489rem + 0.7512vw, 3.125rem);
  font-weight: 600;
  line-height: 65px;
  margin-block: 0 clamp(0.3125rem, -0.0176rem + 1.4085vw, 1.25rem);
  color: #fefefe;
  white-space: nowrap;
}

.facts-description {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #FEFEFED3;
}

.facts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 42px 50px;
  margin: 0;
  justify-items: flex-start;
}

.facts-item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: baseline;
  gap: 14px;
  
}

.fact-term {
  font-size: clamp(2.625rem, 2.4489rem + 0.7512vw, 3.125rem);;
  font-weight: 600;
  line-height: 65px;
  color: #fefefe;
  position: relative;
}
.fact-term::after {
  content: "+";
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #FF4A17;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  right: -25.42px;
  top: -13px;
}

.fact-desc {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: #FEFEFED3;
  margin: 0;
  white-space: nowrap;
}


@media (width < 1175px) {
  .facts-list {
    grid-template-columns: auto;
    gap: 5px;
  }
}
@media (width < 768px) {
  .facts {
    grid-template-columns: auto;
  }
  .facts-list {
    grid-template-columns: auto auto;
  }
}

@media (width < 640px) {
  .facts {
    gap: 26px;
  }
  .facts-list {
    grid-template-columns: auto;
  }
}
