.portfolio {
  
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio-subtitle {
  font-size: 18px;
  color: #999696;
  font-weight: 600;
  margin: 0;
  margin-block-end: 20px;
}

.portfolio-title {
  font-size: 50px;
  color: #FEFEFE;
  font-weight: 600;
  margin: 0;
  margin-block-end: 90px;
}

.slider-outer {
  display: flex;
}

.slider-track {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 23px;
  overflow-x: hidden;
  justify-content: center;
}

.slide {
  position: relative;
}

.slide-content {
  background-color: #FF4A17;
  padding: 100px 45px 145px 65px;
  border-radius: 100%;
  max-width: 300px;
  aspect-ratio: 1 / 1;
  position: absolute;
  inset-inline-start: 0;
  inset-block-end: 0;
}

.slide-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  margin-block-end: 5px;
}

.slide-link {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: #fefefed3;
}
