@import url(./footer-top.css);
@import url(./footer-bottom.css);

.footer {
  font-size: 15px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 26px;
  color: #fefefeb3;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.column-caption {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #fefefe;
}
