.footer-top {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  column-gap: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  margin: 0;
  padding-block-end: 77px;
}

.footer-text {
  font-size: 15px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 26px;
  width: 306px;
  margin-block: 15px 26px;
}

.footer-social {
  display: flex;
  gap: 14px;
  margin: 0;
  list-style: none;
  padding: 0;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 23px;
  font-style: normal;
}

.footer__subscribe {
  max-width: 306px;
  margin-block-end: 26px;
}


@media (width < 1270px) {
  .footer-top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 38px;
  }
}

@media (width < 600px) {
  .footer-top {
    grid-template-columns: 1fr;
    padding-block-end: 58px;
  }

  .footer__subscribe {
    max-width: 100%;
  }
}